############################
# Maven / Gradle
############################
target/
build/
out/
.mvn/
**/logs/
**/tmp/

############################
# IDE files
############################

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

############################
# OS-specific files
############################

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

############################
# Logs & temp files
############################
*.log
*.tmp
*.bak