spring:
  application:
    name: Ticket System API

  profiles:
    active: dev
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

  threads:
    virtual:
      enabled: true #enabled virtual threads
server:
  port: 8080      # default application port

# ==========================
# Spring MVC / Actuator configuration
# ==========================

management:
  info:
    build:
      enabled: true
    git:
      mode: simple
  endpoints:
    web:
      exposure:
        include: health,info,env,metrics,loggers

  endpoint:
    health:
      show-details: always
    web:
      exposure:
        include: "*"
  server:
    port: 8080          # actuator port
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    root: ERROR
    com.au.sportsbet: DEBUG